@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

.card {
    margin-bottom: 1em;
    background: #f6f6f6;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #e2e2e2;
}

#myImage {
    filter: brightness(70%);
}

#texto  {
    color: white;
    text-shadow: 0 2px black;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }

}

#painel-cadastro {
    background:#E0DFDF;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    
}

#padding-top-30 {
    padding-top: 30px;
}

#btnCriarConta {
    margin-right: 10px;
}

#btnResponder {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#pergunta {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.modal {
    height: 1000px;
}


@media screen and (max-width: 768px) {
    .modal {
        height: 100%;
        position: absolute;
    }
    #btnConsultar, #dica {
        margin-top: 10px;
    }
}

/* Esconde o input */
input[type='file'] {
  display: none
}

#fileLabel { 
    cursor: pointer;
}


/* MODAL PARA TABELA PERIODICA */

.modal-lg {
    max-width: 80% !important;
}

/* FIM MODAL PARA TABELA PERIODICA */

/* cadastrar.php */

#adicionaReferencia {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#referencia {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* FIM cadastrar.php */