#myImage {
    filter: brightness(70%);
}

#texto  {
    color: white;
    text-shadow: 0 2px black;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
    }
}

#painel-cadastro {
    background:#E0DFDF;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    
}



#padding-top-10 {
    padding-top: 30px;
}

#btnCriarConta {
    margin-right: 10px;
}
